<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <nav>
            <a href="https://instagram.com">Instagram</a>
        </nav>
    </header>
    <main>
        <section>
            <h1>Main heading</h1>
            <p>This is some text.</p>
            <ul>
                <li>List item 1</li>
                <li>List item 2</li>
                <li>List item 3</li>
                <li>List item 4</li>
            </ul>
        </section>
        <section>
            <h2>Form Section</h2>
            <form action="" method="post">
                <label for="datetime">Datetime:</label>
                <input type="datetime" name="datetime" id="datetime">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password">
                <input type="submit" value="Submit">
            </form>
        </section>
    </main>
    <footer>
        <p>This is the footer.</p>
    </footer>
    <script src="scripts.js"></script>
</body>

</html>
