<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>
<body>

      <a href="https://instagram.com">A Text</a>
      <h1>Text h</h1>
      <h2>Text h</h2>
      <h3>Text h</h3>
      <h4>Text h</h4>
      <h5>Text h</h5>
      <h6>Text h</h6>
      <p>просто текст</p>

      <ul>
            <li>список 1</li>
            <li>список 2</li>
            <li>список 3</li>
            <li>список 4</li>
      </ul>

      <input type="datetime" name="" id="">
      <input type="button" value="">
      <input type="checkbox" name="" id="">
      <input type="color" name="" id="">
      <input type="password" name="" id="">
      <input type="radio" name="" id="">
      <input type="range" name="" id="">

      <table border="1">
            <thead>
                        <tr>123
                              <td>
                                    123
                              </td>
                        </tr>
            </thead>
      </table>

</body>
</html>